*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.dan1{
    color: white;
    text-decoration: none;
}
.dan2{
    color: white;
    text-decoration: none;
}
.dan3{
    color: white;
    text-decoration: none;
}
.tieude{

}
main{
    width: 300 px;
    height: 200 px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.form2{
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;

}
#id1{
    height: 30px;
    
}
h2{
    font-size: 30;
}
input{
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button{
    background-color: black;
    color: white;
}


/* footer */